openapi: 3.1.0
info:
  description: "# Overview \nThe Oura API allows Oura users and partner applications\
    \ to improve their user experience with Oura data.\nThis document describes the\
    \ Oura API Version 2 (V2), which is the only available integration point for Oura\
    \ data. The previous V1 API has been sunset.\n# Getting Started \n## What is an\
    \ API?\nAn API (Application Programming Interface) allows different software applications\
    \ to communicate with each other. The Oura API enables you to access your Oura\
    \ Ring data programmatically.\n## Quick Start Guide\n1. Register an [API Application](https://cloud.ouraring.com/oauth/applications)\
    \ and implement OAuth2\n2. **Make Your First API Call**:\n   ```\n   curl -X GET\
    \ https://api.ouraring.com/v2/usercollection/personal_info \\\n   -H \"Authorization:\
    \ Bearer YOUR_TOKEN_HERE\"\n   ```\n3. **Explore Data Types**:\n   - Browse the\
    \ available endpoints in this documentation to discover what data you can access\n\
    \   - Each endpoint includes example requests and responses\n4. **Set Up Webhooks\
    \ (Strongly Recommended)**:\n   - Webhooks are the preferred way to consume Oura\
    \ data\n   - We have not had customers hit rate limits with webhooks properly\
    \ implemented\n   - Make a single request for historical data when a user first\
    \ connects, then use webhooks for ongoing updates\n   - Webhook notifications\
    \ come approximately 30 seconds after data syncs from the mobile app\n   - [Set\
    \ up webhooks](#tag/Webhook-Subscription-Routes) to receive notifications when\
    \ data changes\n## Common Questions\n- **Data Delay**: Different data types sync\
    \ at different times - sleep data requires users to open the Oura app, while daily\
    \ activity and stress may sync in the background\n# Data Access\nIn order to access\
    \ data, a registered [API Application](https://cloud.ouraring.com/oauth/applications)\
    \ is required.\n API Applications are limited to **10** users before requiring\
    \ approval from Oura. There is no limit once an application is approved.\n Additionally,\
    \ Oura users **must provide consent** to share each data type an API Application\
    \ has access to.\nAll data access requests through the Oura API require [Authentication](https://cloud.ouraring.com/docs/authentication).\n\
    Additionally, we recommend that Oura users keep their mobile app updated to support\
    \ API access for the latest data types.\n# Authentication\nThe Oura Cloud API\
    \ supports authentication through the industry-standard OAuth2 protocol. For more\
    \ information, see our [Authentication instructions](https://cloud.ouraring.com/docs/authentication).\n\
    Access tokens must be included in the request header as follows:\n```http\nGET\
    \ /v2/usercollection/personal_info HTTP/1.1\nHost: api.ouraring.com\nAuthorization:\
    \ Bearer <token>\n```\nPlease note that personal access tokens were deprecated\
    \ in December 2025 and are no longer available for use.\n# Oura HTTP Response\
    \ Codes\n| Response Code                        | Description |\n| ------------------------------------\
    \ | - |\n| 200 OK                               | Successful Response        \
    \ |\n| 400 Query Parameter Validation Error | The request contains query parameters\
    \ that are invalid or incorrectly formatted. |\n| 401 Unauthorized           \
    \          | Invalid or expired authentication token. |\n| 403 Forbidden     \
    \                   | The requested resource requires additional permissions or\
    \ the user's Oura subscription has expired. |\n| 429 Too Many Requests       \
    \         | Rate limit exceeded. See response headers for retry guidance. |\n\n\
    ## Rate Limits\nThe API enforces rate limits at two layers to ensure fair access\
    \ across all applications:\n- a per-access-token limit, which throttles single-token\
    \ floods, and\n- a per-application limit, which caps the aggregate traffic across\
    \ all of an application's end-user tokens so one fan-out app can't dominate shared\
    \ capacity.\n\nA request that trips either layer receives a `429 Too Many Requests`.\
    \ The `X-RateLimit-Tier` response header identifies which layer fired.\n\nIf your\
    \ application regularly approaches rate limits, [webhooks](#tag/Webhook-Subscription-Routes)\
    \ are strongly recommended — most applications that implement webhooks correctly\
    \ do not encounter rate limit issues.\n\n[Contact us](mailto:api-support@ouraring.com)\
    \ if you expect your usage to require higher limits.\n\n## Rate Limit Response\
    \ Headers\nWhen a `429 Too Many Requests` response is returned, five headers are\
    \ included to guide retries. Prefer these over fixed-interval backoff:\n- **`Retry-After`**\
    \ — integer seconds to wait before retrying. RFC 7231-compliant; safe to feed\
    \ directly into your client's backoff logic.\n- **`X-RateLimit-Limit`** — the\
    \ request ceiling for the current window.\n- **`X-RateLimit-Window`** — the rolling\
    \ window length in seconds that the ceiling applies to.\n- **`X-RateLimit-Reset`**\
    \ — Unix epoch (seconds) at which the window resets and quota is fully restored.\n\
    - **`X-RateLimit-Tier`** — identifies which limit was exceeded, useful when contacting\
    \ support.\n"
  termsOfService: https://cloud.ouraring.com/legal/api-agreement
  title: Oura API Documentation
  version: "2.0"
  x-logo:
    url: /v2/static/img/Oura_Logo-Developer_RBG_Black.svg
servers:
- description: Oura API
  url: https://api.ouraring.com
tags:
- description: |
    ## Core Concepts
    The Oura API provides access to various types of health data collected by the Oura Ring. Understanding how this data is organized is essential for effective API usage.
    ### Data Types Overview
    - **Daily Summaries**: Aggregated metrics for each day (sleep score, readiness score, activity score)
    - **Time Series Data**: Detailed measurements taken throughout the day (heart rate, HRV, temperature)
    - **Events**: Discrete occurrences such as workouts, tags, and sessions
    ### Data Processing Timeline
    1. **Data Collection**: The Oura Ring continuously collects biometric data
    2. **Syncing**: Data transfers to the Oura cloud when users sync their ring via the mobile app
    3. **Processing**: Algorithms analyze raw data to generate insights and scores
    4. **API Availability**: Processed data becomes available through API endpoints
    ### Data Syncing Behavior
    Different data types follow different syncing patterns:
    - **User-Initiated Sync Data**:
      - **Sleep Data**: Only syncs when the user opens the Oura app and actively syncs their ring
      - **Sleep Time Recommendations**: Updated after sleep data syncs
      - **Readiness**: Calculated after sleep data is processed
    - **Background Sync Data**:
      - **Daily Activity**: Updates periodically in the background
      - **Daily Stress**: Updates periodically in the background
      - **Heart Rate**: Updates periodically in the background
    This difference in syncing behavior affects when data becomes available through the API. For the most reliable access to all data types, we strongly recommend implementing webhooks to receive notifications when new data is available.
    ### Common Data Structures
    - **Timestamps**: All time-based data uses ISO 8601 format
    - **Scores**: Range from 0-100, with higher values indicating better performance
    - **Durations**: Provided in seconds unless otherwise specified
    - **IDs**: Unique identifiers for specific data objects follow a consistent format
    ### Data Freshness
    The Oura API provides the most recently synced data, which depends on when users last synced their ring. For real-time updates, consider using webhooks to receive notifications when new data becomes available.
    ### Best Practices for Data Access
    - **Initial Load**: When a user first connects to your application, make a single request for historical data
    - **Ongoing Updates**: Use webhooks for all subsequent data updates
    - **Webhook Integration**: This approach minimizes API calls and ensures you always have the latest data
    - **Error Handling**: Be prepared for occasional gaps in data if users don't regularly sync their rings
    ### API Version Information
    The current Oura API (V2) is the only available integration point. The previous V1 API has been sunset and is no longer available.
  name: Data Model & Concepts
- description: |
    Below are end-to-end examples showing how to use the Oura API in different programming languages:
    ## OAuth2 Authentication Flow
    ### Python
    ```python
    import requests
    import json
    from urllib.parse import urlencode
    import webbrowser

    # Your OAuth2 application credentials
    CLIENT_ID = "YOUR_CLIENT_ID"
    CLIENT_SECRET = "YOUR_CLIENT_SECRET"
    REDIRECT_URI = "YOUR_REDIRECT_URI"

    # Step 1: Direct user to authorization page
    auth_params = {
        "client_id": CLIENT_ID,
        "redirect_uri": REDIRECT_URI,
        "response_type": "code",
        "scope": "daily heartrate personal"
    }
    auth_url = f"https://cloud.ouraring.com/oauth/authorize?{urlencode(auth_params)}"
    print(f"Please visit this URL to authorize: {auth_url}")
    webbrowser.open(auth_url)

    # Step 2: Exchange authorization code for access token
    # After user authorizes, they'll be redirected to your redirect URI with a code parameter
    auth_code = input("Enter the authorization code from the redirect URL: ")

    token_url = "https://api.ouraring.com/oauth/token"
    token_data = {
        "grant_type": "authorization_code",
        "code": auth_code,
        "client_id": CLIENT_ID,
        "client_secret": CLIENT_SECRET,
        "redirect_uri": REDIRECT_URI
    }
    response = requests.post(token_url, data=token_data)
    tokens = response.json()
    access_token = tokens["access_token"]
    refresh_token = tokens["refresh_token"]

    # Step 3: Use the access token to make API calls
    headers = {"Authorization": f"Bearer {access_token}"}
    sleep_data = requests.get(
        "https://api.ouraring.com/v2/usercollection/sleep",
        headers=headers,
        params={"start_date": "2023-01-01", "end_date": "2023-01-07"}
    )
    print(json.dumps(sleep_data.json(), indent=2))

    # Step 4: Refresh the token when it expires
    def refresh_access_token(refresh_token):
        token_data = {
            "grant_type": "refresh_token",
            "refresh_token": refresh_token,
            "client_id": CLIENT_ID,
            "client_secret": CLIENT_SECRET
        }
        response = requests.post(token_url, data=token_data)
        new_tokens = response.json()
        return new_tokens["access_token"], new_tokens["refresh_token"]
    ```
    ### JavaScript
    ```javascript
    // Step 1: Redirect to authorization page
    const authorizeUser = () => {
      const CLIENT_ID = "YOUR_CLIENT_ID";
      const REDIRECT_URI = "YOUR_REDIRECT_URI";
      const scopes = ["daily", "heartrate", "personal"];

      const authUrl = `https://cloud.ouraring.com/oauth/authorize?` +
        `client_id=${CLIENT_ID}&` +
        `redirect_uri=${encodeURIComponent(REDIRECT_URI)}&` +
        `response_type=code&` +
        `scope=${scopes.join(" ")}`;

      // Redirect user to authorization page
      window.location.href = authUrl;
    };

    // Step 2: Exchange authorization code for access token
    // This should be implemented on your server to protect your client secret
    async function getAccessToken(code) {
      const response = await fetch("https://api.ouraring.com/oauth/token", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({
          grant_type: "authorization_code",
          code: code,
          client_id: "YOUR_CLIENT_ID",
          client_secret: "YOUR_CLIENT_SECRET",
          redirect_uri: "YOUR_REDIRECT_URI"
        })
      });

      const tokens = await response.json();
      return tokens;
    }

    // Step 3: Make API calls
    async function fetchSleepData(accessToken) {
      const startDate = "2023-01-01";
      const endDate = "2023-01-07";

      const response = await fetch(
        `https://api.ouraring.com/v2/usercollection/sleep?start_date=${startDate}&end_date=${endDate}`,
        {
          headers: {
            Authorization: `Bearer ${accessToken}`
          }
        }
      );

      return await response.json();
    }
    ```
    ## Working with Webhooks
    ### NodeJS Express Server Example
    ```javascript
    const express = require('express');
    const bodyParser = require('body-parser');
    const crypto = require('crypto');

    const app = express();
    app.use(bodyParser.json());

    const CLIENT_SECRET = "YOUR_CLIENT_SECRET";

    // Verification endpoint for webhook setup
    app.get('/oura-webhook', (req, res) => {
      const { verification_token, challenge } = req.query;

      // Verify the token matches what you expect
      if (verification_token === "YOUR_VERIFICATION_TOKEN") {
        res.json({ challenge });
      } else {
        res.status(401).send('Invalid verification token');
      }
    });

    // Webhook handler for incoming data
    app.post('/oura-webhook', (req, res) => {
      const signature = req.headers['x-oura-signature'];
      const timestamp = req.headers['x-oura-timestamp'];

      // Verify HMAC signature for security
      const hmac = crypto.createHmac('sha256', CLIENT_SECRET);
      hmac.update(timestamp + JSON.stringify(req.body));
      const calculatedSignature = hmac.digest('hex').toUpperCase();

      if (calculatedSignature !== signature) {
        return res.status(401).send('Invalid signature');
      }

      // Process the webhook data
      const { event_type, data_type, object_id, user_id } = req.body;

      console.log(`Received ${event_type} event for ${data_type}`);

      // Fetch the updated data using the object_id
      // This should be done asynchronously to respond quickly
      fetchDataAsync(data_type, object_id, user_id);

      // Respond quickly to acknowledge receipt
      res.status(200).send('OK');
    });

    app.listen(3000, () => {
      console.log('Webhook server listening on port 3000');
    });

    // Asynchronous function to fetch the updated data
    async function fetchDataAsync(dataType, objectId, userId) {
      // Implementation depends on your data storage and processing needs
      // This would typically fetch the new data from the Oura API
      // and update your database or application state
    }
    ```
  name: Code Examples
- description: |
    ## General Questions
    ### What is the Oura API used for?
    The Oura API allows developers to access Oura Ring data programmatically. This enables building applications, conducting research, or personal projects that use sleep, activity, readiness, and other health metrics collected by the Oura Ring.
    ### How do I get started with the Oura API?
    1. Register an [OAuth application](https://cloud.ouraring.com/oauth/applications)
    2. Read the documentation and explore the available endpoints
    3. Make your first API call using the examples provided
    ### What data types are available in the API?
    The Oura API provides access to various data types including:
    - Sleep metrics and stages
    - Activity and movement data
    - Readiness scores and contributors
    - Heart rate and HRV measurements
    - Workout information
    - Tags and sessions
    - And more specialized metrics like SpO2, body temperature, and stress levels
    ### Is the Oura API free to use?
    Yes, the Oura API is free to use for both personal and commercial applications. However, API applications accessing more than 10 users require approval from Oura.
    ## Technical Questions
    ### What's the recommended way to consume Oura data?
    Webhooks are the preferred way to consume Oura data. We recommend:
    1. Make a single request for historical data when a user first connects to your application
    2. Set up webhook subscriptions for all data types you need
    3. Use webhook notifications to get updates as new data becomes available
    This approach is efficient and we have not had customers hit rate limits with webhooks properly implemented.
    ### How do I handle rate limits?
    The Oura API is limited to 5000 requests per 5-minute period. To avoid hitting rate limits:
    - Use webhooks instead of polling (strongly recommended - we have not seen any customers hit rate limits with webhooks properly implemented)
    - Cache responses when appropriate
    - Batch requests for multiple days of data rather than individual day requests
    - Implement exponential backoff when you receive a 429 response
    ### Why am I not seeing today's data?
    Oura Ring data availability depends on the data type:
    - **Sleep, Readiness, and Sleep Time data**: Only available after the user opens the Oura app and syncs their ring
    - **Daily Activity, Daily Stress, and Heart Rate**: May update periodically in the background
    For the most reliable access to all data types, implement webhooks to receive notifications when new data is available (approximately 30 seconds after the data syncs from the mobile app).
    ### How do I handle timezone differences?
    All timestamps in the Oura API use ISO 8601 format with timezone information. When querying data with date parameters, the dates are interpreted in the user's local timezone. Make sure to account for this when processing data across different timezones.
    ### What API version should I use?
    The current Oura API (V2) is the only available integration point. The previous V1 API has been sunset and is no longer available.
    ### How do webhooks work with the Oura API?
    Webhooks allow you to receive near real-time notifications when new data is available, rather than constantly polling the API. You'll need to:
    1. Set up an endpoint on your server to receive webhook events
    2. Create webhook subscriptions for each data type and event type you're interested in
    3. Verify your endpoint when creating subscriptions
    4. Process webhook events as they arrive
    5. Fetch the full data using the provided IDs
    Webhook notifications arrive approximately 30 seconds after data syncs from the mobile app.
    ## Troubleshooting
    ### I'm getting 401 Unauthorized errors
    This typically means your access token is invalid or expired. Check that:
    - You're including the token correctly in the Authorization header
    - The token hasn't expired (they typically last 30 days)
    - The user hasn't revoked access
    - For OAuth2 applications, try refreshing the token
    ### I'm getting 403 Forbidden errors
    This usually means the user's Oura subscription has expired or they haven't granted permission for the specific data type you're requesting.
    ### Why am I not receiving webhook events?
    Ensure that:
    - Your webhook endpoint is publicly accessible
    - The endpoint responds to the verification challenge correctly
    - Your endpoint responds within 10 seconds with a 2xx or 3xx status code
    - You've subscribed to the correct data types and event types
    - The user has synced their ring recently to generate new data
    ### How can I validate that a webhook is legitimate?
    Always verify the HMAC signature included in the x-oura-signature header using your client secret as shown in the webhook code examples.
    ## Best Practices
    ### What's the best approach for accessing historical data?
    We recommend:
    1. When a user first connects to your application, make a single request for historical data
    2. For ongoing updates, use webhooks instead of repeated API calls
    3. Store the historical data in your own database for easy access
    4. Only fetch new or updated data based on webhook notifications
    This approach minimizes API calls and ensures your application always has the latest data without hitting rate limits.
    ### How should I handle missing data?
    Some users may have gaps in their data if they didn't wear their ring or haven't synced it recently. Your application should:
    - Check for null values in responses
    - Have fallback logic for missing data points
    - Consider displaying gaps in visualizations rather than connecting across missing data
    - Use webhooks to ensure you're promptly notified when new data becomes available
    ### What's the best way to get historical data?
    To efficiently retrieve a large amount of historical data:
    1. Use date range queries with reasonable time spans (e.g., 1-3 months at a time)
    2. Implement pagination using the next_token parameter for large result sets
    3. Consider running historical data collection as a background job
    4. Store the data in your own database to avoid repeated API calls
    ### How can I ensure user privacy?
    - Only request access to the data types your application needs
    - Store tokens securely and never expose them in client-side code
    - Implement proper security measures for storing health data
    - Be transparent with users about how their data will be used
    - Allow users to disconnect your application and delete their data
  name: Frequently Asked Questions
- description: |
    ## Common Authentication Issues
    ### "401 Unauthorized" Error
    This is the most common authentication error and typically means there's an issue with your token. Here are the most frequent causes and solutions:
    #### 1. Invalid Token Format
    **Problem**: The token you're using isn't formatted correctly in the request.
    **Solution**: Ensure you're including "Bearer" before your token:
    ```
    Authorization: Bearer your-token-here
    ```
    **Example Correct Implementation**:
    ```javascript
    // JavaScript example
    fetch('https://api.ouraring.com/v2/usercollection/personal_info', {
      headers: {
        'Authorization': 'Bearer ' + accessToken  // Note the space after "Bearer"
      }
    })
    ```
    #### 2. Expired Token
    **Problem**: OAuth2 access tokens expire after a period (typically 24 hours for Oura).
    **Solution**: Use your refresh token to get a new access token:
    ```http
    POST https://api.ouraring.com/oauth/token
    Content-Type: application/x-www-form-urlencoded

    grant_type=refresh_token&
    refresh_token=YOUR_REFRESH_TOKEN&
    client_id=YOUR_CLIENT_ID&
    client_secret=YOUR_CLIENT_SECRET
    ```

    **Handling Token Expiration**:
    ```javascript
    // JavaScript example of handling expired tokens
    async function callApi(endpoint, accessToken, refreshToken) {
      try {
        const response = await fetch(`https://api.ouraring.com/v2/${endpoint}`, {
          headers: {
            'Authorization': `Bearer ${accessToken}`
          }
        });

        if (response.status === 401) {
          // Token expired, try to refresh
          const newTokens = await refreshAccessToken(refreshToken);

          // Retry the request with the new token
          return fetch(`https://api.ouraring.com/v2/${endpoint}`, {
            headers: {
              'Authorization': `Bearer ${newTokens.access_token}`
            }
          });
        }

        return response;
      } catch (error) {
        console.error('API call failed:', error);
        throw error;
      }
    }

    async function refreshAccessToken(refreshToken) {
      const response = await fetch('https://api.ouraring.com/oauth/token', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({
          'grant_type': 'refresh_token',
          'refresh_token': refreshToken,
          'client_id': YOUR_CLIENT_ID,
          'client_secret': YOUR_CLIENT_SECRET
        })
      });

      return response.json();
    }
    ```

    #### 3. Revoked Access
    **Problem**: The user has revoked access to your application.

    **Solution**: The user needs to re-authorize your application. Direct them to the authorization URL:
    ```
    https://cloud.ouraring.com/oauth/authorize?
      client_id=YOUR_CLIENT_ID&
      redirect_uri=YOUR_REDIRECT_URI&
      response_type=code&
      scope=daily heartrate personal
    ```
    ### "403 Forbidden" Error
    This error means your authentication is valid, but you don't have permission to access the requested resource.
    #### 1. Missing Scope Permission
    **Problem**: Your OAuth application doesn't have the necessary scope for the endpoint.
    **Solution**: Request the needed scopes during authorization:
    ```
    https://cloud.ouraring.com/oauth/authorize?
      client_id=YOUR_CLIENT_ID&
      redirect_uri=YOUR_REDIRECT_URI&
      response_type=code&
      scope=daily heartrate personal workout session
    ```
    **Available Scopes**:
    - `daily`: Daily summaries (sleep, activity, readiness)
    - `heartrate`: Heart rate data
    - `personal`: Personal information (age, gender, etc.)
    - `workout`: Workout data
    - `session`: Session data
    - `tag`: Tag data
    #### 2. Expired Oura Membership
    **Problem**: The user's Oura membership has expired.
    **Solution**: The user needs to renew their Oura membership to restore API access.
    ### OAuth2 Flow Debugging
    #### Authorization Code Flow Issues
    **Problem**: Not receiving an authorization code after user consent.
    **Solutions**:
    1. Verify your redirect URI exactly matches what's registered in your application
    2. Check for errors in the redirect (look for `error` and `error_description` query parameters)
    3. Ensure the user is completing the consent process
    **Example Debugging**:
    ```javascript
    // Parse the URL after redirect
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');
    const errorDescription = urlParams.get('error_description');

    if (error) {
      console.error(`Authorization failed: ${error} - ${errorDescription}`);
    } else {
      const code = urlParams.get('code');
      if (code) {
        // Proceed with token exchange
      } else {
        console.error('No authorization code received in the redirect');
      }
    }
    ```
    #### Token Exchange Issues
    **Problem**: Error when exchanging authorization code for tokens.
    **Common Errors and Solutions**:
    - `invalid_grant`: The authorization code is expired (valid for only 10 minutes) or already used
    - `invalid_client`: Client ID or secret is incorrect
    - `invalid_redirect_uri`: Redirect URI doesn't match the one used during authorization
    **Testing Token Exchange**:
    ```bash
    # Using curl to debug token exchange
    curl -X POST https://api.ouraring.com/oauth/token   -d "grant_type=authorization_code"   -d "code=YOUR_AUTH_CODE"   -d "client_id=YOUR_CLIENT_ID"   -d "client_secret=YOUR_CLIENT_SECRET"   -d "redirect_uri=YOUR_REDIRECT_URI"
    ```
    ## Authentication Best Practices
    ### Security Recommendations
    1. **Never store access tokens in client-side code** or expose them in URLs
    2. **Use HTTPS** for all communication with the Oura API
    3. **Store refresh tokens securely** (e.g., in an encrypted database)
    4. **Implement token rotation** to regularly refresh access tokens
    5. **Validate tokens** before using them if they've been stored for a while
    ### Token Management
    1. **Create a token service** in your backend to handle token operations:
       - Storing tokens securely
       - Refreshing expired tokens
       - Associating tokens with user accounts
    2. **Handle token revocation gracefully**:
       - Detect when a token has been revoked
       - Clear local token storage
       - Prompt the user to re-authorize when needed
    3. **Implement proper error handling**:
       - Distinguish between different types of auth errors
       - Provide clear messages to users
       - Log authentication issues for debugging
  name: Authentication Troubleshooting
- description: "The Daily Activity scope includes daily activity summary values and\
    \ detailed activity levels. Activity levels are expressed in [metabolic equivalent\
    \ of task minutes](https://en.wikipedia.org/wiki/Metabolic_equivalent) (MET mins).\
    \ Oura tracks activity based on the movement."
  name: Daily Activity Routes
- description: "Cardiovascular Age is an estimate of the health of your cardiovascular\
    \ system in relation to your actual age. See more details [here](https://support.ouraring.com/hc/en-us/articles/28451491040019-Cardiovascular-Age)."
  name: Daily Cardiovascular Age Routes
- description: Readiness tells how ready you are for the day.
  name: Daily Readiness Routes
- description: Resilience is an estimate of your ability to withstand physiological
    stress and recover from it over time.
  externalDocs:
    description: Learn more about Resilience
    url: https://support.ouraring.com/hc/en-us/articles/25358829055251-Resilience
  name: Daily Resilience Routes
- description: "Sleep period is a nearly continuous, longish period of time spent\
    \ lying down in bed."
  name: Daily Sleep Routes
- description: The Daily SpO2 (blood oxygenation) routes include daily SpO2 average.
    Data will only be available for users with a Gen 3 Oura Ring
  externalDocs:
    description: Blood Oxygen Sensing (SpO2) on Oura
    url: https://ouraring.com/blog/blood-oxygen-sensing-spo2
  name: Daily Spo2 Routes
- description: The daily stress route includes a summary of the number of minutes
    the user spends in high stress and high recovery each day. This is a great way
    to see how your stress and recovery are trending over time. Stress and recovery
    are mutally exclusive. E.g. one can only be stressed or recovered at any given
    moement - and cannot be stressed and recovered at the same time.
  externalDocs:
    description: Learn more about daytime stress
    url: https://ouraring.com/blog/daytime-stress-feature
  name: Daily Stress Routes
- description: |-
    The Enhanced Tags data scope includes tags that Oura users enter within the Oura mobile app. Enhanced Tags can be added for any lifestyle choice, habit, mood change, or environmental factor an Oura user wants to monitor the effects of. Enhanced Tags also contain context on a tag's start and end time, whether a tag repeats daily, and comments.

    [Learn more about how Oura users add Enhanced Tags](https://support.ouraring.com/hc/en-us/articles/360038676993-How-to-Use-Tags)
  externalDocs:
    description: More information about Enhanced Tags
    url: https://ouraring.com/blog/tags/
  name: Enhanced Tag Routes
- description: "The Heart Rate data scope includes time-series heart rate data throughout\
    \ the day and night. Heart rate is provided at 5-minute increments. For heart\
    \ rate data recorded from a Session, see Sessions endpoint."
  externalDocs:
    description: How accurate is the heart rate data generated by the Oura Ring?
    url: https://ouraring.com/blog/how-accurate-is-oura/
  name: Heart Rate Routes
- description: "The Personal Info scope includes personal information (e.g. age, email,\
    \ weight, and height) about the user. You can access the id on the personal_info\
    \ route with any access token (no scopes are required)."
  name: Personal Info Routes
- description: "The Rest Mode scope includes information about rest mode periods.\
    \ This includes the start, end time and detaials of the rest mode period."
  name: Rest Mode Period Routes
- description: "The Ring Configuration scope includes information about the user's\
    \ ring(s). This includes the model, size, color, etc."
  name: Ring Configuration Routes
- description: "The Sessions data scope provides information on how users engage with\
    \ guided and unguided sessions in the Oura app, including the user's biometric\
    \ trends during the sessions."
  externalDocs:
    description: Learn about the available session types within the Explore Tab
    url: https://ouraring.com/blog/oura-explore-tab/
  name: Session Routes
- description: Returns Oura Sleep data for the specified Oura user within a given
    timeframe. A user can have multiple sleep periods per day.
  name: Sleep Routes
- description: Recommendations for the optimal bedtime window that is calculated based
    on sleep data.
  name: Sleep Time Routes
- description: |-
    <span className='text-important'>**Note:** Tag is deprecated. We recommend transitioning to [Enhanced Tag](#tag/Enhanced-Tag-Routes).</span>

    ~~The Tags data scope includes tags that Oura users enter within the Oura mobile app. Tags are a growing list of activities, environment factors, symptoms, emotions, and other aspects that provide broader context into what's happening with users beyond the objective data generated by the Oura Ring.~~

    ~~[More information on tag translations](https://cloud.ouraring.com/edu/tag-translations)~~
  name: Tag Routes
- description: "VO2 Max is a measure of the maximum volume of oxygen that an individual\
    \ can use during intense exercise. See more details [here](https://support.ouraring.com/hc/en-us/articles/28336620578835-Cardio-Capacity-VO2-Max)."
  name: VO2 Max Routes
- description: "The Workout data scope includes information about user workouts. This\
    \ is a diverse, growing list of workouts that help inform how the user is training\
    \ and exercising."
  name: Workout Routes
- description: Fake user data that you can access without an Oura account. There is
    a corresponding sandbox endpoint to each available data type. This is useful for
    testing and development purposes. The data is not real and should not be used
    for any production purposes. The data is generated by Oura and is not based on
    any real user data. The data is not updated in real-time and is not guaranteed
    to be accurate. The rate limit for the sandbox endpoints is shared with your rate
    limit on other data endpoints.
  name: Sandbox Routes
- description: "# Webhooks for Real-Time Data Updates\n\n## What are Webhooks?\nWebhooks\
    \ are a way for the Oura API to notify your application when new data is available,\
    \ instead of requiring your application to constantly check for updates (polling).\
    \ Think of webhooks as \"reverse APIs\" - instead of your application requesting\
    \ data, Oura's servers send data to your application when something changes.\n\
    \n## Why Use Webhooks (Important!)\n- **RECOMMENDED APPROACH**: Webhooks are the\
    \ preferred way to consume Oura data\n- **Avoid Rate Limits**: We have not had\
    \ customers hit rate limits with webhooks properly implemented\n- **Near Real-Time\
    \ Updates**: Webhook notifications come approximately 30 seconds after data syncs\
    \ from the mobile app\n- **Efficient Resource Usage**: Reduces unnecessary API\
    \ calls and server load\n- **Better User Experience**: Your application stays\
    \ updated without constant polling\n\n## How Webhooks Work with Oura\n1. **You\
    \ set up an endpoint**: Create a URL on your server that can receive POST requests\n\
    2. **You subscribe to events**: Tell Oura what data types and events you want\
    \ to be notified about\n3. **Oura verifies your endpoint**: A one-time check to\
    \ ensure your endpoint is valid\n4. **Oura sends notifications**: When data changes,\
    \ Oura sends a POST request to your endpoint\n5. **You process the event**: Your\
    \ endpoint receives basic event details\n6. **You fetch complete data**: Use the\
    \ provided IDs to retrieve the full data via the API\n\n## Recommended Implementation\
    \ Pattern\n1. **Initial Data Load**: When a user first connects, make a single\
    \ API request for historical data\n2. **Subscribe to Webhooks**: Set up webhook\
    \ subscriptions for all data types you need\n3. **Process Webhook Events**: As\
    \ users sync their rings, you'll receive notifications about new data\n4. **Fetch\
    \ Updated Data**: Use the object_id from webhook events to fetch the specific\
    \ updated data\n\nThis pattern minimizes API calls while ensuring your application\
    \ always has the latest data.\n\n## Setup Guide\n\n### Step 1: Create Your Webhook\
    \ Endpoint\nSet up an HTTP endpoint on your server that can:\n- Handle both GET\
    \ requests (for verification) and POST requests (for events)\n- Respond to verification\
    \ challenges during subscription setup\n- Process incoming webhook events quickly\
    \ (under 10 seconds)\n\nExample endpoint implementation (Node.js):\n```javascript\n\
    // Express.js route handlers for your webhook endpoint\napp.get('/oura-webhook',\
    \ (req, res) => {\n  // Verification handler - required during subscription setup\n\
    \  const { verification_token, challenge } = req.query;\n\n  // Verify the token\
    \ matches your expected token\n  if (verification_token === YOUR_VERIFICATION_TOKEN)\
    \ {\n    // Return the challenge in the required format\n    return res.json({\
    \ challenge });\n  }\n\n  // If verification fails\n  return res.status(401).send('Invalid\
    \ verification token');\n});\n\napp.post('/oura-webhook', (req, res) => {\n  //\
    \ Event handler - processes incoming webhook events\n\n  // Always respond quickly\
    \ (under 10 seconds)\n  // Process the event asynchronously if needed\n  res.status(200).send('OK');\n\
    \n  // Then process the event data\n  const { event_type, data_type, object_id,\
    \ user_id } = req.body;\n  processEventAsync(event_type, data_type, object_id,\
    \ user_id);\n});\n```\n\n### Step 2: Create a Webhook Subscription\nCall the `POST\
    \ /v2/webhook/subscription` endpoint to register your webhook:\n\n```\nPOST /v2/webhook/subscription\n\
    Headers:\n  x-client-id: YOUR_CLIENT_ID\n  x-client-secret: YOUR_CLIENT_SECRET\n\
    \  Content-Type: application/json\n\nBody:\n{\n  \"callback_url\": \"https://your-server.com/oura-webhook\"\
    ,\n  \"verification_token\": \"your-secret-verification-token\",\n  \"event_type\"\
    : \"update\",\n  \"data_type\": \"sleep\"\n}\n```\n\nYou need to create separate\
    \ subscriptions for each combination of:\n- **event_type**: The type of event\
    \ (create, update, delete)\n- **data_type**: The type of data you're interested\
    \ in (sleep, activity, etc.)\n\n### Step 3: Verification Process\nWhen you create\
    \ a subscription, Oura verifies your endpoint:\n\n1. Oura sends a GET request\
    \ to your callback URL with query parameters:\n   ```\n   GET https://your-server.com/oura-webhook?verification_token=your-token&challenge=random-string\n\
    \   ```\n\n2. Your endpoint must verify the token and respond with the challenge:\n\
    \   ```json\n   {\n     \"challenge\": \"random-string\"\n   }\n   ```\n\n3. If\
    \ verification succeeds, your subscription is activated\n\n![Verification Flow](/img/webhook-verification-flow-diagram.drawio.png)\n\
    \n### Step 4: Receiving and Processing Events\nWhen an event occurs (e.g., user\
    \ syncs new sleep data):\n\n1. Oura sends a POST request to your callback URL:\n\
    \   ```\n   POST https://your-server.com/oura-webhook\n   Headers:\n     x-oura-signature:\
    \ HMAC_SIGNATURE\n     x-oura-timestamp: 1234567890\n\n   Body:\n   {\n     \"\
    event_type\": \"update\",\n     \"data_type\": \"sleep\",\n     \"object_id\"\
    : \"12345abc\",\n     \"event_time\": \"2023-01-01T08:00:00+00:00\",\n     \"\
    user_id\": \"user123\"\n   }\n   ```\n\n2. Your endpoint should:\n   - Verify\
    \ the signature for security (see below)\n   - Respond quickly (under 10 seconds)\
    \ with a 2xx status\n   - Process the event asynchronously if needed\n   - Use\
    \ the object_id to fetch the complete data via the API\n\n## Security Best Practices\n\
    \n### Verify Webhook Signatures\nAlways verify that webhook requests are actually\
    \ from Oura by checking the HMAC signature:\n\n```javascript\nconst crypto = require('crypto');\n\
    \nfunction verifySignature(headers, body, clientSecret) {\n  const signature =\
    \ headers['x-oura-signature'];\n  const timestamp = headers['x-oura-timestamp'];\n\
    \n  // Create HMAC using your client secret\n  const hmac = crypto.createHmac('sha256',\
    \ clientSecret);\n  hmac.update(timestamp + JSON.stringify(body));\n  const calculatedSignature\
    \ = hmac.digest('hex').toUpperCase();\n\n  // Compare calculated signature with\
    \ received signature\n  return calculatedSignature === signature;\n}\n\n// In\
    \ your webhook handler\napp.post('/oura-webhook', (req, res) => {\n  // Verify\
    \ signature\n  if (!verifySignature(req.headers, req.body, CLIENT_SECRET)) {\n\
    \    return res.status(401).send('Invalid signature');\n  }\n\n  // Process valid\
    \ webhook\n  res.status(200).send('OK');\n  // ...\n});\n```\n\n### Use HTTPS\n\
    Always use HTTPS for your webhook endpoint to ensure data is encrypted in transit.\n\
    \n### Keep Your Verification Token Secret\nChoose a strong, random verification\
    \ token and don't share it.\n\n## Handling Webhook Failures\n\n### Retry Mechanism\n\
    Oura will retry failed webhook deliveries:\n- For 4xx responses: 10 retries\n\
    - For 5xx responses: 10 retries\n- For timeouts: 10 retries\n\n### Canceling Subscriptions\n\
    If you want to cancel a subscription, you can:\n- Use the DELETE endpoint: `DELETE\
    \ /v2/webhook/subscription/{id}`\n- Or respond with a 410 status code to automatically\
    \ cancel\n\n## Common Questions\n\n### How quickly will I receive webhooks?\n\
    Webhook notifications arrive approximately 30 seconds after data syncs from the\
    \ mobile app. The timing depends on the data type:\n- **Sleep, Readiness, and\
    \ other user-initiated sync data**: These only sync when the user opens the Oura\
    \ app and actively syncs their ring\n- **Daily Activity, Daily Stress, and other\
    \ background data**: These may update periodically in the background without user\
    \ action\n\n### What if my server goes down?\nOura will retry webhook deliveries\
    \ for about an hour if your server doesn't respond properly. However, if your\
    \ server is down for an extended period, you might miss some events. It's a good\
    \ practice to implement a reconciliation process that can fetch data for periods\
    \ when your webhook might have been unavailable.\n\n### How can I test webhooks\
    \ locally?\nUse a tool like [ngrok](https://ngrok.com/) to expose your local development\
    \ server to the internet with a public URL.\n\n### Can I use the same callback\
    \ URL for different subscriptions?\nYes, you can use the same URL for multiple\
    \ subscriptions. Your handler can differentiate between events using the `event_type`\
    \ and `data_type` fields in the webhook payload.\n\n### Will I hit rate limits\
    \ using webhooks?\nWe have not had customers hit rate limits with webhooks properly\
    \ implemented. The recommended pattern is:\n1. Make a single request for historical\
    \ data when a user first connects\n2. Use webhooks for all ongoing data updates\n\
    3. Only fetch the specific data that has changed based on webhook notifications\n\
    \nThis approach minimizes API calls while ensuring your application always has\
    \ the latest data.\n        "
  name: Webhook Subscription Routes
paths:
  /v2/sandbox/usercollection/daily_activity:
    get:
      operationId: Sandbox___Multiple_daily_activity_Documents_v2_sandbox_usercollection_daily_activity_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailyActivity_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Activity Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_activity?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_activity/{document_id}:
    get:
      operationId: Sandbox___Single_daily_activity_Document_v2_sandbox_usercollection_daily_activity__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailyActivity"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Activity Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_activity/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_activity/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_activity/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_cardiovascular_age:
    get:
      operationId: Sandbox___Multiple_daily_cardiovascular_age_Documents_v2_sandbox_usercollection_daily_cardiovascular_age_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailyCardiovascularAge_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Cardiovascular Age Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_cardiovascular_age/{document_id}:
    get:
      operationId: Sandbox___Single_daily_cardiovascular_age_Document_v2_sandbox_usercollection_daily_cardiovascular_age__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailyCardiovascularAge"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Cardiovascular Age Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_cardiovascular_age/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_readiness:
    get:
      operationId: Sandbox___Multiple_daily_readiness_Documents_v2_sandbox_usercollection_daily_readiness_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailyReadiness_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Readiness Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_readiness/{document_id}:
    get:
      operationId: Sandbox___Single_daily_readiness_Document_v2_sandbox_usercollection_daily_readiness__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailyReadiness"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Readiness Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_readiness/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_resilience:
    get:
      operationId: Sandbox___Multiple_daily_resilience_Documents_v2_sandbox_usercollection_daily_resilience_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_DailyResilienceModel_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Resilience Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_resilience/{document_id}:
    get:
      operationId: Sandbox___Single_daily_resilience_Document_v2_sandbox_usercollection_daily_resilience__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DailyResilienceModel"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Resilience Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_resilience/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_sleep:
    get:
      operationId: Sandbox___Multiple_daily_sleep_Documents_v2_sandbox_usercollection_daily_sleep_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailySleep_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Sleep Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_sleep/{document_id}:
    get:
      operationId: Sandbox___Single_daily_sleep_Document_v2_sandbox_usercollection_daily_sleep__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailySleep"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Sleep Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_sleep/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_spo2:
    get:
      operationId: Sandbox___Multiple_daily_spo2_Documents_v2_sandbox_usercollection_daily_spo2_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailySpO2_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Spo2 Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_spo2/{document_id}:
    get:
      operationId: Sandbox___Single_daily_spo2_Document_v2_sandbox_usercollection_daily_spo2__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailySpO2"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Spo2 Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_spo2/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_stress:
    get:
      operationId: Sandbox___Multiple_daily_stress_Documents_v2_sandbox_usercollection_daily_stress_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_PublicDailyStress_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Daily Stress Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01&fields=day,score' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_stress'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01',\n\
          \    'fields': 'day,score' \n}\nheaders = { \n  'Authorization': 'Bearer\
          \ <token>' \n}\nresponse = requests.request('GET', url, headers=headers,\
          \ params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01&fields=day,score',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_stress?start_date=2021-11-01&end_date=2021-12-01&fields=day,score\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/daily_stress/{document_id}:
    get:
      operationId: Sandbox___Single_daily_stress_Document_v2_sandbox_usercollection_daily_stress__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDailyStress"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Daily Stress Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/daily_stress/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/daily_stress/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/daily_stress/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/daily_stress/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/enhanced_tag:
    get:
      operationId: Sandbox___Multiple_enhanced_tag_Documents_v2_sandbox_usercollection_enhanced_tag_get
      parameters:
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          title: Start Date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          title: End Date
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiDocumentResponse_EnhancedTagModel_"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Enhanced Tag Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag'\
          \ \nparams={ \n    'start_date': '2021-11-01', \n    'end_date': '2021-12-01'\
          \ \n}\nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse =\
          \ requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag?start_date=2021-11-01&end_date=2021-12-01\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/enhanced_tag/{document_id}:
    get:
      operationId: Sandbox___Single_enhanced_tag_Document_v2_sandbox_usercollection_enhanced_tag__document_id__get
      parameters:
      - explode: false
        in: path
        name: document_id
        required: true
        schema:
          title: Document Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnhancedTagModel"
          description: Successful Response
        "404":
          description: Not Found
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Single Enhanced Tag Document
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: |-
          curl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag/2-5daccc095220cc5493a4e9c2b681ca941e' \
          --header 'Authorization: Bearer <token>'
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag/2-5daccc095220cc5493a4e9c2b681ca941e'\
          \ \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse = requests.request('GET',\
          \ url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag/2-5daccc095220cc5493a4e9c2b681ca941e',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
        source: "OkHttpClient client = new OkHttpClient().newBuilder() \n  .build();\
          \ \nRequest request = new Request.Builder() \n  .url(\"https://api.ouraring.com/v2/sandbox/usercollection/enhanced_tag/2-5daccc095220cc5493a4e9c2b681ca941e\"\
          ) \n  .method(\"GET\", null) \n  .addHeader(\"Authorization\", \"Bearer\
          \ <token>\") \n  .build(); \nResponse response = client.newCall(request).execute();"
        label: Java
  /v2/sandbox/usercollection/heartrate:
    get:
      operationId: Sandbox___Multiple_heartrate_Documents_v2_sandbox_usercollection_heartrate_get
      parameters:
      - explode: true
        in: query
        name: start_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: end_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_Sandbox___Multiple_Heartrate_Documents_V2_Sandbox_Usercollection_Heartrate_Get"
          description: Successful Response
        "400":
          description: Client Exception
        "401":
          description: "Unauthorized access exception. Usually means the access token\
            \ is expired, malformed or revoked."
        "403":
          description: Access forbidden. Usually means the user's subscription to
            Oura has expired and their data is not available via the API.
        "429":
          description: Request Rate Limit Exceeded.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      security:
      - BearerAuth: []
      summary: Sandbox - Multiple Heartrate Documents
      tags:
      - Sandbox Routes
      x-codeSamples:
      - lang: cURL
        label: cURL
        source: "# The '+' symbol in the timezone must be escaped to `%2B` if included.\
          \ \ncurl --location --request GET 'https://api.ouraring.com/v2/sandbox/usercollection/heartrate?start_datetime=2021-11-01T00:00:00-08:00&end_datetime=2021-12-01T00:00:00-08:00&fields=timestamp,bpm'\
          \ \\ \n--header 'Authorization: Bearer <token>'"
      - lang: Python
        source: "import requests \nurl = 'https://api.ouraring.com/v2/sandbox/usercollection/heartrate'\
          \ \nparams={ \n    'start_datetime': '2021-11-01T00:00:00-08:00', \n   \
          \ 'end_datetime': '2021-12-01T00:00:00-08:00',\n    'fields': 'timestamp,bpm'\
          \ \n} \nheaders = { \n  'Authorization': 'Bearer <token>' \n}\nresponse\
          \ = requests.request('GET', url, headers=headers, params=params) \nprint(response.text)"
        label: Python
      - lang: JavaScript
        source: "var myHeaders = new Headers(); \nmyHeaders.append('Authorization',\
          \ 'Bearer <token>'); \nvar requestOptions = { \n  method: 'GET', \n  headers:\
          \ myHeaders, \n}; \nfetch('https://api.ouraring.com/v2/sandbox/usercollection/heartrate?start_datetime=2021-11-01T00:00:00-08:00&end_datetime=2021-12-01T00:00:00-08:00&fields=timestamp,bpm',\
          \ requestOptions) \n  .then(response => response.text()) \n  .then(result\
          \ => console.log(result)) \n  .catch(error => console.log('error', error));"
        label: JavaScript
      - lang: Java
[...]
